.button-title {
  vertical-align: middle;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.button-title:hover {
  filter: alpha(opacity=100);
  opacity: 1;
  cursor: pointer;
}

.bio-background {
  background: grey;;
}

.card {
  align-content: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 2px solid #1abc9c;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  
}

.formater {
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  width: 100%;
  max-height: 100px;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 0;
  color: #1ABC9C;
}