<a class="uk-button uk-button-default" href="#modal-overflow" uk-toggle>Open</a>

<div id="modal-overflow" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <title-tag title={{modalTitle}}></title-tag>
        <div class="centered-image">
            <img src={{modalImageUrl}}>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>
            <div *ngFor="let info of modalInfos">
                <div uk-grid>
                    <div class="uk-width-auto">
                        <img class="green-check" src="/assets/images/green-check.svg">
                    </div>
                    <div class="green-check-text uk-width-expand">{{ info }}</div>
                </div>
            </div>
        </div>
    </div>
</div>