<div id="{{modalId}}" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <title-tag class="title-positioning" title={{modalTitle}}></title-tag>
        <div class="centered-image">
            <img src={{modalImageUrl}}>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>
            <div *ngFor="let info of modalInfos">
                <div uk-grid>
                    <div class="uk-width-auto">
                        <img class="green-check" src="./assets/images/green-check.svg">
                    </div>
                    <div class="green-check-text uk-width-expand">{{ info }}</div>
                </div>
            </div>

            <img (click)="this.playSound(this.modalAudio)" class="audio-button uk-margin-remove uk-position-bottom-right" src="./assets/images/mute.svg">
            <audio id="aud" class="uk-align-center">
                <source src="{{modalAudio}}" type="audio/mpeg">
            </audio>
        </div>
    </div>
</div>