<title-tag title="{{this.cell.name}}" excerpt="Clique sobre as organleas para aprender mais.">
</title-tag>

<img routerLink="/modal-example" class="centered-image" src="./assets/images/microorganism.svg" />
<modal  modalTitle="Teste" 
        modalExcerpt="Testing it"
        modalImageUrl="/assets/images/nucleo.svg"
        [modalInfos]="[
            '1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.',
            '2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.',
            '3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.',
            '4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.',
            '5 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.'
        ]"
        
    >
</modal>