<title-tag title="{{this.cell.name}}" excerpt="Clique sobre as organleas para aprender mais.">
</title-tag>

<!-- Aqui será mapeada as organelas da célula de maneira q o href tenha o id de cada organela -->
<img uk-toggle [attr.href]='this.treatedId' class="centered-image" src="./assets/images/microorganism.svg" />

<div *ngFor="let organel of this.cell.organels">
    <modal  modalId="{{organel.id}}"
            modalTitle="{{organel.name}}"
            modalImageUrl="{{organel.imageUrl}}"
            [modalInfos]="organel.infos"
        >
    </modal>
</div>