<title-tag title="{{this.cell.name}}" excerpt="Clique sobre as organelas para aprender mais.">
</title-tag>

<!-- Aqui será mapeada as organelas da célula de maneira q o href tenha o id de cada organela -->
<img uk-toggle [attr.href]='this.treatedId' class="center-image uk-align-center uk-width-1-1 uk-margin-remove"
    style="max-height: 70vh" src="./assets/images/microorganism.svg" />

<div *ngFor="let organel of this.cell.organels">
    <modal modalId="{{organel.id}}" modalTitle="{{organel.name}}" modalImageUrl="{{organel.imageUrl}}"
        [modalInfos]="organel.infos" modalAudio="{{organel.audio}}">
    </modal>
</div>

<!--Mute Google Icon-->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large yellow">
        <i class="material-icons">
            volume_off
        </i>
    </a>
</div>

<audio autoplay class="uk-align-center">
    <source src="./assets/sounds/treina1.wav" type="audio/mpeg">
</audio>