<div class="uk-child-width-1-2@m" uk-grid>
  <div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src="https://getuikit.com/docs/images/light.jpg" alt="">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Exercice 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src="https://getuikit.com/docs/images/light.jpg" alt="">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Exercice 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
  </div>
<a routerLink="/quizz">
  <div>
    <div class="uk-card uk-card-default">
        <div routerlink="/quizz" class="uk-card-media-top">
            <img src="https://getuikit.com/docs/images/light.jpg" alt="">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Exercice 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
  </div>
</a>
  <!-- <div class="uk-card uk-card-default">
    <div routerLink="/quizz" class="uk-card-media-top">
    </div>
  </div> -->
  <div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src="https://getuikit.com/docs/images/light.jpg" alt="">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Exercice 4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src="https://getuikit.com/docs/images/light.jpg" alt="">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Exercice 5</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
  </div>
</div>