<nav class="uk-navbar uk-navbar-container uk-margin custom-background-color" style="max-height:63px">
    <div class="uk-navbar-left">
        <div class="uk-navbar-toggle">
            <img src="./assets/icons/back.svg" (click)="this.location.back();" style="cursor:pointer;">
            <span class="uk-margin-small-left">{{navbarContent}}</span>
        </div>
    </div>
    <div class="uk-navbar-right">
        <a class="uk-navbar-toggle" href="#">
            <span uk-navbar-toggle-icon type="button" uk-toggle="target: #offcanvas-nav"></span> <span class="uk-margin-small-left"></span>
        </a>
    </div>

    <offcanvas></offcanvas>
</nav>