<div id="offcanvas-nav" uk-offcanvas="flip: true; overlay: true">

    <div class="uk-offcanvas-bar">

        <div class="offcanvas-top">
            <div class="cell-image">
                <img src="./assets/images/microorganism.svg" />
            </div>
            <div class="offcanvas-title">Células Virtuais</div>
        </div>

        <ul class="uk-nav uk-nav-default">
            <li><a routerLink="/about"><span class="uk-margin-small-right" uk-icon="icon: info"></span> Sobre</a></li>
            <li><a routerLink="/help"><span class="uk-margin-small-right" uk-icon="icon: question"></span> Ajuda</a></li>
        </ul>
    </div>
</div>