<div id="offcanvas-nav" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>CurrentComponent{{currentComponent}}</h3>

        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#">curCompFunctions</a></li>
            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">Sub item1</a></li>
                    <li><a href="#">Sub item2</a></li>
                </ul>
            </li>
            <li class="uk-nav-header"></li>
            <li class="uk-nav-divider"></li>
            <li><a href="/about"><span class="uk-margin-small-right" uk-icon="icon: info"></span> Sobre</a></li>
            <li><a href="/help"><span class="uk-margin-small-right" uk-icon="icon: question"></span> Ajuda</a></li>
        </ul>
    </div>
</div>