.overflow-text {
    float: left;
    background: #232323;
    border-radius: 8px;
    min-width: 110px;
    min-height: 22px;
    color: white;
    vertical-align: middle;
}

.overflow-button {
    float: left;
    padding-right: 8px;
}

.container {
    width: 158px;
    height: 40px;
    margin: 0;
    margin-left: 6px;
}

.fixed-action-btn{
    left: 0; 
}