<div class="bio-background">
  <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-default button">
          <div class="uk-card-media-top button">
              <img src="assets/images/cell-icon2.png" alt="">
          </div>
          <div class="uk-card-body button">
            <img class="uk-card-title button-title" src="assets/gifs/know.gif" routerLink="/learn-menu" />
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default button">
          <div class="uk-card-media-top button">
              <img src="assets/images/cell-icon2.png" alt="">
          </div>
          <div class="uk-card-body button">
            <img class="uk-card-title button-title" src="assets/gifs/test.gif" routerLink="/exercices-menu" />
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
      </div>
    </div>
  </div>

  <div id="button0" class="center-gif">
    <div class="button-cell">
      <img src="assets/images/cell-icon.png" />
    </div>
  </div>

  <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-default button">
          <div class="uk-card-media-top button">
              <img src="assets/images/cell-icon2.png" alt="">
          </div>
          <div class="uk-card-body button">
            <img class="uk-card-title button-title" src="assets/gifs/sobre.gif" routerLink="/about" />
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default button">
          <div class="uk-card-media-top button">
              <img src="assets/images/cell-icon2.png" alt="">
          </div>
          <div class="uk-card-body button">
            <img class="uk-card-title button-title" src="assets/gifs/help.gif" routerLink="/help" />
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
      </div>
    </div>
  </div>
</div>