<img class="centered-image" src="./assets/images/microorganism.svg" />

<title-tag title="SEJA BEM-VINDO(A)!" excerpt="Vamos aprender mais sobre citologia?">
</title-tag>

<div class="uk-container uk-container-center">
    <div uk-grid data-uk-grid-margin>
        <div class="uk-width-1-1">
            <card cardTitle="Aprender" cardLink="/learn">What happens here?</card>
        </div>
        <div class="uk-width-1-1">
            <card cardTitle="Exercicios" cardLink="/exercices"></card>
        </div>
    </div>
</div>
<div class="red-button uk-margin-remove uk-align-right uk-position-bottom-right">
    <button class="uk-button-danger rounding-it"><span class="uk-margin-auto" uk-icon="icon: social"></span></button>
</div>