.button {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  padding: 8px;
  width: 45%
}
.button-cell {
  position: relative;
  vertical-align: middle;
  text-align: center;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.button-title {
  position: relative;
  text-align: center;
  z-index: 1;
  filter: alpha(opacity = 50);
  opacity: 0.5;
}

.button-title:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
  cursor: pointer;
}

.center-gif {
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  padding: 8px;
  width: 100%
}
.bio-background {
  background: #fff;
}