<p class="title">SEJA BEM-VINDO(A)!</p>
<p class="excerpt">Vamos aprender mais sobre citologia?</p>
<div class="menu-transform">
    <img class="centered-image" src="/assets/images/microorganism.svg" />
    <card id="learn" cardTitle="Aprender" cardLink="/learn/menu"> What happens here?</card>
    <card id="exercises" cardTitle="Exercicios" cardLink="/exercices/menu"></card>
    <card id="help" cardTitle="Ajuda" cardLink="/help"></card>
    <card id="about" cardTitle="Sobre" cardLink="/about"></card>
</div>