<title-tag title="Conheça as Células!" excerpt="Escolha um dos tipos celulares abaixo"></title-tag>
<br>

<div class="uk-container uk-container-center">
    <div uk-grid>
        <div class="uk-width-1-1 uk-margin-remove uk-padding-remove">
            <div class="uk-grid-match uk-grid-small uk-card">
                <div uk-grid data-uk-grid-margin routerLink="/learn/celula-animal"
                    class="uk-width-1-1 uk-text-center uk-align-center">
                    <img class="image-sizer uk-width-1-3" src="./assets/images/microorganism.svg " />
                    <p class="cell-title uk-width-1-2 button-title">Célula Animal</p>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1 uk-margin-remove uk-padding-remove">
            <div class="uk-grid-match uk-grid-small uk-card">
                <div uk-grid data-uk-grid-margin routerLink="/learn/celula-vegetal"
                    class="uk-width-1-1 uk-text-center uk-align-center ">
                    <img class="image-sizer uk-width-1-3 " src="./assets/images/microorganism.svg " />
                    <p class="cell-title uk-width-1-2 button-title">Célula Vegetal</p>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1 uk-margin-remove uk-padding-remove">
            <div class="uk-grid-match uk-grid-small uk-card">
                <div uk-grid data-uk-grid-margin routerLink="/learn/celula-procariota"
                    class="uk-width-1-1 uk-text-center uk-align-center">
                    <img class="image-sizer uk-width-1-3" src="./assets/images/microorganism.svg " />
                    <p class="cell-title uk-width-1-2 button-title">Célula Procariótica</p>
                </div>
            </div>
        </div>
    </div>
</div>