<title-tag title="Conheça as Células!" excerpt="Escolha um dos tipos celulares abaixo"></title-tag>
<br>
<div class="uk-container uk-container-center">
    <div uk-grid data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-grid-match uk-grid-small uk-card card">
                <div class="formater button-title uk-align-center">
                    <img class="image-sizer" src="./assets/images/microorganism.svg " />
                    <p class="cell-title">Célula Procariótica</p>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1">
            <div class="uk-grid-match uk-grid-small uk-card card">
                <div class="formater button-title uk-align-center">
                    <img class="image-sizer" src="./assets/images/microorganism.svg " />
                    <p class="cell-title">Célula Procariótica</p>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1">
            <div class="uk-grid-match uk-grid-small uk-card card">
                <div class=" formater button-title uk-align-center">
                    <img class=" image-sizer " src="./assets/images/microorganism.svg " />
                    <p class="cell-title ">Célula Procariótica</p>
                </div>
            </div>
        </div>
    </div>
</div>