<title-tag title="Conheça as Células!" excerpt="Escolha um dos tipos celulares abaixo"></title-tag>

<div>
    <img class="uk-align-center" src="./assets/images/microorganism.svg" />
    <title-tag title="Célula Animal"></title-tag>
</div>

<body>
    <div align="center">
        <table cellpadding="0" cellspacing="30" align="center">
            <tr height="110px">
                <td align="center"><img src="./assets/images/-cell-icon2.png" class="m_out" width="93" height="72" onMouseOver="this.className='m_over'" onMouseOut="this.className='m_out'" onClick="window.open('animal.html','_self')" /></td>
                <td>C&eacute;lula Animal</td>
            </tr>
            <tr height="110px">
                <td align="center"><img src="./assets/images/vegetal-cell-icon.png" class="m_out" width="124" height="100" onMouseOver="this.className='m_over'" onMouseOut="this.className='m_out'" onClick="window.open('vegetal.html','_self')" /></td>
                <td>C&eacute;lula Vegetal</td>
            </tr>
            <tr height="110px">
                <td align="center"><img src="./assets/images/prokaryotic-cell-icon.png" class="m_out" width="150" height="75" onMouseOver="this.className='m_over'" onMouseOut="this.className='m_out'" onClick="window.open('procariota.html','_self')" /></td>
                <td>C&eacute;lula Procari&oacute;tica</td>
            </tr>
        </table>
        <img id="closeButton" src="assets/gifs/learn/close.gif" class="m_out" onMouseOver="this.className='m_over'" onMouseOut="this.className='m_out'" onClick="window.close()" title="Fecha" />
    </div>
</body>